.main-container{
    display: flex;
    width: 80%;
    height: 45%;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 15%;
    
    
}